* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #9bb7c5;
  --color-secondary: #d47816;
  --color-secondary-2: #785028;
  --color-gray: #3f4042;
  --color-gray-light: #a6a8ad;
  --color-dark: #070707;
  --color-light: #eeeeee;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/* variablas */

.container {
  max-width: 1390px;
  margin: auto;
}
